%%bash
# install python packages using requirements.txt file
pip install -r ../requirements.txt

In [1]:
# Third party packages
import pandas as pd
import plotly.express as px
import plotly.io as pio
pio.renderers.default = "browser"
import matplotlib.pyplot as plt
from io import StringIO
from IPython.display import display

# Adding path
from os.path import abspath
import sys
sys.path.insert(0, abspath('..'))

# 
from query_request import *
from query_def import *
import credentials
# from sqlalchemy import create_engine

# pandas display settings
pd.options.display.max_rows = 999
pd.options.display.max_columns = 999
pd.options.display.max_colwidth=None

In [2]:
# Demo for LDM

# Upload dataset
# downlaod dataset

In [3]:
# Demo for dragoman

%%time
# for transforming datset into Knowlege graphs using SDM-RDFizer python library
from rdfizer.semantify import semantify
semantify('../configs/config.ini')

# [Creating Endpoint](../configs/docker_command_icews.sh)

%%bash
# if you have access to TIB server execute this cell
# load data to triple store
# copy data to server
rsync -avP ../kgdata/icews.nt node2:/data/coypu/icews_endpoint/data_load

# create endpoint on server
scp ../configs/docker_command_icews.sh node2:/data/coypu/icews_endpoint/
ssh node2 'cd /data/coypu/lei_endpoint/ && ./docker_command_lei.sh >out 2>error &'

In [4]:
# create rdfmts
from DeTrusty import run_query
from DeTrusty.Molecule.MTCreation import create_rdfmts
from DeTrusty.Molecule.MTManager import ConfigFile

# Creating endpoints dictionary
endpoints = dictfrmjson('../configs/endpoints_sample.json')
print(endpoints)

# Creating RDF molecule template (rdfmts) from endpoints
# log_rdfmts = create_rdfmts(endpoints, '../configs/rdfmts.json')

# if already rdfmts has been created 
config_private = ConfigFile('../configs/rdfmts_private.json')
config_public = ConfigFile('../configs/rdfmts_public.json')

Total time taken by dictfrmjson function: 0.00013756752014160156
{'https://labs.tib.eu/sdm/worldbank_endpoint/sparql': {}, 'https://labs.tib.eu/sdm/icews_endpoint/sparql': {}, 'https://labs.tib.eu/sdm/lei_endpoint/sparql': {}, 'https://skynet.coypu.org/coypu-internal': {'username': 'Your UserName', 'password': 'Your Password'}}

## Endpoints Status

In [5]:
# Demo query to all available enpoints

# demo query
query_test = """SELECT * WHERE{ ?Subject a ?Concept }LIMIT 1000"""


# creating request for cmemc
display("############### Cmemc Endpoint ###############")
cmemc_request = SPARQLRequest(client_url_imp, client_id_imp, client_secret_imp , 'oauth')
# executing query and printing response
cmemc_request.execute(query_test)
buf = StringIO(cmemc_request.response.content.decode('utf-8'), newline='\r\n')          
display(pd.read_csv(buf, encoding='utf-8').tail(5))

# creating request for skynet
display("############### Skynet Endpoint ###############")
skynet_request = SPARQLRequest(skynet_endpoint, skynet_user, skynet_pass, 'basic')
# executing query and printing response
skynet_request.execute(query_test)
buf = StringIO(skynet_request.response.content.decode('utf-8'), newline='\r\n')          
display(pd.read_csv(buf, encoding='utf-8').tail(5))

# creating request for worldbank
display("############### Worldbank Endpoint ###############")
worldbank_request = SPARQLRequest(worldbank_endpoint)
# executing query and printing response
worldbank_request.execute(query_test)
display(worldbank_request.response.status_code)
buf = StringIO(worldbank_request.response.content.decode('utf-8'), newline='\r\n')          
display(pd.read_csv(buf, encoding='utf-8').tail(5))

# creating request for LEI
display("############### LEI Endpoint ###############")
lei_request = SPARQLRequest(lei_endpoint)
# executing query and printing response
lei_request.execute(query_test)
buf = StringIO(lei_request.response.content.decode('utf-8'), newline='\r\n')          
display(pd.read_csv(buf, encoding='utf-8').tail(5))

# creating request for ICEWS
display("############### ICEWS Endpoint ###############")
icews_request = SPARQLRequest(icews_endpoint)
# executing query and printing response
icews_request.execute(query_test)
buf = StringIO(icews_request.response.content.decode('utf-8'), newline='\r\n')          
display(pd.read_csv(buf, encoding='utf-8').tail(5))

'############### Cmemc Endpoint ###############'

Passed Query Status: 200
Total time taken by execute function: 0.4411814212799072

,Subject,Concept
995,https://vocab.eccenca.com/shacl/GraphTemplateJinjaTemplatePropertyShape,http://www.w3.org/2000/01/rdf-schema#Resource
996,https://vocab.eccenca.com/shacl/GraphTemplateJinjaTemplatePropertyShape,http://www.w3.org/ns/shacl#PropertyShape
997,https://vocab.eccenca.com/shui/jinjaTemplateString,http://www.w3.org/1999/02/22-rdf-syntax-ns#Property
998,https://vocab.eccenca.com/shui/jinjaTemplateString,http://www.w3.org/2000/01/rdf-schema#Resource
999,https://vocab.eccenca.com/shui/jinjaTemplateString,http://www.w3.org/2002/07/owl#DatatypeProperty

'############### Skynet Endpoint ###############'

Passed Query Status: 200
Total time taken by execute function: 0.15735363960266113

,Subject,Concept
995,https://data.coypu.org/lei/8156000353C9ABA3F689-VAL,https://www.gleif.org/ontology/L1/BusinessValidationIdentifier
996,https://data.coypu.org/lei/815600D55096AE766623-VAL,https://www.gleif.org/ontology/L1/BusinessValidationIdentifier
997,https://data.coypu.org/lei/335800Y4N8RGXM1GO884-VAL,https://www.gleif.org/ontology/L1/BusinessValidationIdentifier
998,https://data.coypu.org/lei/81560018EC9F4A988702-VAL,https://www.gleif.org/ontology/L1/BusinessValidationIdentifier
999,https://data.coypu.org/lei/969500EJTC0A46FJSZ16-VAL,https://www.gleif.org/ontology/L1/BusinessValidationIdentifier

'############### Worldbank Endpoint ###############'

Passed Query Status: 200
Total time taken by execute function: 0.14722490310668945

200

,Subject,Concept
995,http://worldbank.org/Indicator/SH.HIV.ARTC.ZS,http://worldbank.org/Indicator
996,http://worldbank.org/Indicator/SH.HIV.INCD,http://worldbank.org/Indicator
997,http://worldbank.org/Indicator/SH.HIV.INCD.14,http://worldbank.org/Indicator
998,http://worldbank.org/Indicator/SH.HIV.INCD.TL,http://worldbank.org/Indicator
999,http://worldbank.org/Indicator/SH.HIV.INCD.TL.P3,http://worldbank.org/Indicator

'############### LEI Endpoint ###############'

Passed Query Status: 200
Total time taken by execute function: 0.11589455604553223

,Subject,Concept
995,https://data.coypu.org/lei/2138006HHBEMF1TGWU29-LA,https://www.gleif.org/ontology/Base/PhysicalAddress
996,https://data.coypu.org/lei/2138006HHUG8LC4UD387-LA,https://www.gleif.org/ontology/Base/PhysicalAddress
997,https://data.coypu.org/lei/2138006HHXWLEK5WVK02-LA,https://www.gleif.org/ontology/Base/PhysicalAddress
998,https://data.coypu.org/lei/2138006HI1P4JTM2WM22-LA,https://www.gleif.org/ontology/Base/PhysicalAddress
999,https://data.coypu.org/lei/2138006HI5AF5E1P4T95-LA,https://www.gleif.org/ontology/Base/PhysicalAddress

'############### ICEWS Endpoint ###############'

Passed Query Status: 200
Total time taken by execute function: 0.1198737621307373

,Subject,Concept
995,https://data.coypu.org/icews/36616020,https://schema.coypu.org/global#Conflict
996,https://data.coypu.org/icews/36616021,https://schema.coypu.org/global#Conflict
997,https://data.coypu.org/icews/36616024,https://schema.coypu.org/global#Conflict
998,https://data.coypu.org/icews/36616025,https://schema.coypu.org/global#Conflict
999,https://data.coypu.org/icews/36616026,https://schema.coypu.org/global#Conflict

## Federated Query

In [6]:
# creating request for Federated Query
display("############### Federated Query ###############")
fdq_request = SPARQLRequest(is_fdq=True)
fdq_request.execute(query_test, config_public, False)
fdq_request.save('../query_results/', 'query_test')

'############### Federated Query ###############'

2022-12-01 15:32:41,112 - DeTrusty.Wrapper.RDFWrapper - INFO - Contacting endpoint: https://labs.tib.eu/sdm/icews_endpoint/sparql/
2022-12-01 15:32:41,171 - DeTrusty.Wrapper.RDFWrapper - INFO - Contacting endpoint: https://labs.tib.eu/sdm/worldbank_endpoint/sparql/
2022-12-01 15:32:41,172 - DeTrusty.Wrapper.RDFWrapper - INFO - Contacting endpoint: https://labs.tib.eu/sdm/lei_endpoint/sparql/

Total time taken by execute function: 1.1645660400390625
Index                    128
Subject.value           8000
Subject.type            8000
Concept.value           8000
Concept.type            8000
__meta__.is_verified    1000
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Subject.value         1000 non-null   object
 1   Subject.type          1000 non-null   object
 2   Concept.value         1000 non-null   object
 3   Concept.type          1000 non-null   object
 4   __meta__.is_verified  1000 non-null   bool
dtypes: bool(1), object(4)
memory usage: 32.4+ KB
None
Total time taken by json_to_csv function: 0.12555742263793945
Total time taken by save function: 0.12610173225402832

2022-12-01 15:33:03,398 - DeTrusty.Wrapper.RDFWrapper - ERROR - Exception while sending request to https://labs.tib.eu/sdm/lei_endpoint/sparql/ - msg: HTTP Error 404: File not found - query: SELECT ?Subject ?Concept WHERE {
        ?Subject <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> ?Concept

} LIMIT 10000 OFFSET 270000
Process Process-1:1:
Process Process-1:
Process Process-1:1:2:1:
Process Process-1:1:2:
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
  File "/home/tibvyasa/miniconda3/envs/coypu_demo/lib/python3.10/multiprocessing/process.py", line 317, in _bootstrap
    util._exit_function()
  File "/home/tibvyasa/miniconda3/envs/coypu_demo/lib/python3.10/multiprocessing/process.py", line 317, in _bootstrap
    util._exit_function()
  File "/home/tibvyasa/miniconda3/envs/coypu_demo/lib/python3.10/multiprocessing/process.py", line 317, in _bootstrap
    util._exit_function()
  File "/home/tibvyasa/miniconda3/envs/coypu_demo/lib/python3.10/multiprocessing/process.py", line 317, in _bootstrap
    util._exit_function()
  File "/home/tibvyasa/miniconda3/envs/coypu_demo/lib/python3.10/multiprocessing/util.py", line 357, in _exit_function
    p.join()
  File "/home/tibvyasa/miniconda3/envs/coypu_demo/lib/python3.10/multiprocessing/util.py", line 357, in _exit_function
    p.join()
  File "/home/tibvyasa/miniconda3/envs/coypu_demo/lib/python3.10/multiprocessing/process.py", line 149, in join
    res = self._popen.wait(timeout)
  File "/home/tibvyasa/miniconda3/envs/coypu_demo/lib/python3.10/multiprocessing/util.py", line 357, in _exit_function
    p.join()
  File "/home/tibvyasa/miniconda3/envs/coypu_demo/lib/python3.10/multiprocessing/util.py", line 357, in _exit_function
    p.join()
  File "/home/tibvyasa/miniconda3/envs/coypu_demo/lib/python3.10/multiprocessing/process.py", line 149, in join
    res = self._popen.wait(timeout)
  File "/home/tibvyasa/miniconda3/envs/coypu_demo/lib/python3.10/multiprocessing/process.py", line 149, in join
    res = self._popen.wait(timeout)
  File "/home/tibvyasa/miniconda3/envs/coypu_demo/lib/python3.10/multiprocessing/process.py", line 149, in join
    res = self._popen.wait(timeout)
  File "/home/tibvyasa/miniconda3/envs/coypu_demo/lib/python3.10/multiprocessing/popen_fork.py", line 43, in wait
    return self.poll(os.WNOHANG if timeout == 0.0 else 0)
  File "/home/tibvyasa/miniconda3/envs/coypu_demo/lib/python3.10/multiprocessing/popen_fork.py", line 43, in wait
    return self.poll(os.WNOHANG if timeout == 0.0 else 0)
  File "/home/tibvyasa/miniconda3/envs/coypu_demo/lib/python3.10/multiprocessing/popen_fork.py", line 27, in poll
    pid, sts = os.waitpid(self.pid, flag)
  File "/home/tibvyasa/miniconda3/envs/coypu_demo/lib/python3.10/multiprocessing/popen_fork.py", line 43, in wait
    return self.poll(os.WNOHANG if timeout == 0.0 else 0)
  File "/home/tibvyasa/miniconda3/envs/coypu_demo/lib/python3.10/multiprocessing/popen_fork.py", line 43, in wait
    return self.poll(os.WNOHANG if timeout == 0.0 else 0)
  File "/home/tibvyasa/miniconda3/envs/coypu_demo/lib/python3.10/multiprocessing/popen_fork.py", line 27, in poll
    pid, sts = os.waitpid(self.pid, flag)
KeyboardInterrupt
  File "/home/tibvyasa/miniconda3/envs/coypu_demo/lib/python3.10/multiprocessing/popen_fork.py", line 27, in poll
    pid, sts = os.waitpid(self.pid, flag)
  File "/home/tibvyasa/miniconda3/envs/coypu_demo/lib/python3.10/multiprocessing/popen_fork.py", line 27, in poll
    pid, sts = os.waitpid(self.pid, flag)
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt

In [7]:
print(query_1_fdq_ex_1)

fdq_request.execute(query_1_fdq_ex_1, config_private, False)
fdq_request.save('../query_results/', 'query_1_fdq_ex_1')

PREFIX coy: <https://schema.coypu.org/global#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX owl: <http://www.w3.org/2002/07/owl#>
PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
PREFIX time: <http://www.w3.org/2006/time#>

PREFIX wb: <http://worldbank.org/>
PREFIX wbi: <http://worldbank.org/Indicator/>
PREFIX dc: <http://purl.org/dc/elements/1.1/>
PREFIX dcterms: <http://purl.org/dc/terms/>
PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX geo: <https://www.geonames.org/ontology#>

SELECT ?country_code ?year (AVG(?value) as ?carbon_emission) (COUNT(?disaster) as ?no_of_disasters)
WHERE {
    ?indicator a wb:AnnualIndicatorEntry .
    ?indicator wb:hasIndicator <http://worldbank.org/Indicator/EN.ATM.CO2E.KT> .
    ?indicator wb:hasCountry ?country .
    ?indicator owl:hasValue ?value .
    ?indicator time:year ?year .
    ?country   dc:identifier ?country_code .

    ?disaster a coy:Disaster .
    ?disaster time:year ?year .
    ?disaster geo:countryCode ?country_code .
}
GROUP BY ?country_code ?year
ORDER BY ?year

2022-12-01 15:32:42,436 - DeTrusty.Wrapper.RDFWrapper - INFO - Contacting endpoint: https://skynet.coypu.org/coypu-internal
2022-12-01 15:32:42,418 - DeTrusty.Wrapper.RDFWrapper - INFO - Contacting endpoint: https://labs.tib.eu/sdm/worldbank_endpoint/sparql
2022-12-01 15:32:42,412 - DeTrusty.Wrapper.RDFWrapper - INFO - Contacting endpoint: https://skynet.coypu.org/coypu-internal
2022-12-01 15:32:42,450 - DeTrusty.Wrapper.RDFWrapper - INFO - Contacting endpoint: https://labs.tib.eu/sdm/worldbank_endpoint/sparql
2022-12-01 15:32:45,153 - DeTrusty.Wrapper.RDFWrapper - INFO - Contacting endpoint: https://skynet.coypu.org/coypu-internal
2022-12-01 15:33:38,854 - DeTrusty.Wrapper.RDFWrapper - INFO - Contacting endpoint: https://skynet.coypu.org/coypu-internal

Total time taken by execute function: 105.27523303031921
Index                     128
country_code.value       3912
country_code.type        3912
year.value               3912
year.type                3912
carbon_emission.value    3912
carbon_emission.type     3912
no_of_disasters.value    3912
no_of_disasters.type     3912
__meta__.is_verified      489
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489 entries, 0 to 488
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   country_code.value     489 non-null    object
 1   country_code.type      489 non-null    object
 2   year.value             489 non-null    object
 3   year.type              489 non-null    object
 4   carbon_emission.value  489 non-null    object
 5   carbon_emission.type   489 non-null    object
 6   no_of_disasters.value  489 non-null    object
 7   no_of_disasters.type   489 non-null    object
 8   __meta__.is_verified   489 non-null    bool
dtypes: bool(1), object(8)
memory usage: 31.2+ KB
None
Total time taken by json_to_csv function: 0.046332597732543945
Total time taken by save function: 0.04678058624267578

In [8]:
def carbon_emission_group(carbon_emission):
    if carbon_emission/1000000 < 0.25:
        return '0.00-0.25'
    elif carbon_emission/1000000 >= 0.25 and carbon_emission/1000000 < 0.5:
        return '0.25-0.5'
    elif carbon_emission/1000000 >= 0.5 and carbon_emission/1000000 < 0.75:
        return '0.50-0.75'
    else:
        return '> 0.75'
    

df = pd.read_csv('../query_results/query_1_fdq_ex_1.csv', encoding='utf-8')
df.rename(columns=lambda x: x.replace('.value', ''), inplace=True)
df['carbon_emission(1e6)'] = df['carbon_emission'].apply(carbon_emission_group)
df.sort_values(by='year', ascending=True, inplace=True)

df.head(10)

    country_code  year  carbon_emission  no_of_disasters carbon_emission(1e6)
488          SVK  2000          38070.0                4            0.00-0.25
462          MKD  2000           8760.0                4            0.00-0.25
463          GRC  2000          94460.0               32            0.00-0.25
464          ESP  2000         293310.0               36             0.25-0.5
465          AUT  2000          63530.0               12            0.00-0.25
466          RUS  2000        1563850.0              136               > 0.75
467          LVA  2000           6930.0                4            0.00-0.25
468          PRT  2000          61660.0                4            0.00-0.25
469          ITA  2000         436300.0               20             0.25-0.5
470          NLD  2000         162100.0                4            0.00-0.25

In [9]:

fig = px.scatter_geo(df, locations="country_code", color="carbon_emission(1e6)",
                     hover_data=['carbon_emission'], size="no_of_disasters",
                     animation_frame="year",
                     projection="equirectangular", scope='europe')
fig.update_layout(title_text='Carbon emission and the number of disaster events for various countries across years',\
                  title_font_color="red", title_font_family="Times New Roman", title_font_size=25)
fig.write_html('../query_results/query_1_fdq_ex_1.html')
fig.show()